.logo {
  display: inline-block;
  font-size: 0;
}

.logo[href] path {
  transition: .20s ease-in-out;
}

.logo[href]:hover path {
  fill: $color-pink;
}

.logo[href]:active path:not(.logo-svg__star) {
  fill: #fff;
  opacity: 0.3;
}

.logo-svg__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo-svg__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-svg__desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
