.main-nav {
  background-color: #283645;
}

.main-nav__toggle {
  display: inline-block;
  width: 50px;
  height: 24px;
  background: transparent url("../img/icon-menu-cross.svg") no-repeat;
  background-size: 50px 24px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
