.main-nav {
  background-color: $color-darkblue;
}

.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 19px;
  @include padding();
  margin: 0 auto;
}
