.promo {
  padding-top: 462px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 20px 100px,
    url("../img/bg-back-mobile@1x.jpg") no-repeat;
  color: #ffffff;
  background-color: $background-dark;
}

.promo__caption {
  font-weight: 300;
}
