@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fieldset-reset() {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin padding() {
  padding-left: 20px;
  padding-right: 20px;
}
