@font-face {
  font-family: "Opes Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Opes Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Opes Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: $color-darkblue;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
